
<div class="cf-app-segment cf-app-segment--alt cf-help-content">

  <h1 id="#top">Welcome to the eFolder Express Help Page!</h1>
  
  <p>Here you will find <font color="#0872b9"><a href="#training-videos">Training Videos </font></a>and<font color="#0872b9"><a href="#faq"> FAQs </font></a>to eFolder Express. If you still need help please contact the Caseflow Product Support Team by calling 1-844-876-5548. We will assist you as quickly as possible. </p>
        <br>
   <h1 id="training-videos">Training Videos</h1>

   <div class="cf-help-divider"></div>

  <div class ="usa-grid-full">
   <div class ="usa-width-one-third">
    <iframe width="270" height="178.567" src="//www.youtube.com/embed/Tg13RotOJCg" frameborder="0" allowfullscreen></iframe>
    <b>Access and Login</b></br> 
    <small>Duration: 1:52</small>
    <p>Learn how to gain access and login to eFolder Express</p>
  </div>
  
  <div class ="usa-width-one-third">
    <iframe width="270" height="178.567" src="https://www.youtube.com/embed/rXhfMk1Edc4" frameborder="0" allowfullscreen></iframe>
    <b>Navigating the Interface</b></br>
    <small>Duration: 1:59</small>
    <p>Learn how to use eFolder Express and improve your workflow.</p>
  </div>

  <div class ="usa-width-one-third">
    <iframe width="270" height="178.567" src="https://www.youtube.com/embed/zi35PN98hoE" frameborder="0" allowfullscreen></iframe>
    <b>Find an eFolder</b></br> 
    <small>Duration: 1:03</small>
    <p>Learn how to search for the full contents of a veteran's eFolder</p>
   </div>
  </div>

 <div class ="usa-grid-full">
  <div class="usa-width-one-third">
    <iframe width="270" height="178.567" src="https://www.youtube.com/embed/E6zAkrqoqX0" frameborder="0" allowfullscreen></iframe>
    <b>Downloading the eFolder</b></br>
    <small>Duration: 2:16</small>
    <p>Learn how to download the files contained in a Veteran's eFolder.</p>
  </div>
  
  <div class="usa-width-one-third">
    <iframe width="270" height="178.567" src="https://www.youtube.com/embed/e4X8RT6MF6w" frameborder="0" allowfullscreen></iframe>
    <b>Managing Multiple Downloads</b></br>
    <small>Duration: 0:59</small>
    <p>Learn how to improve your workflow by downloading and managing multiple Veteran's eFolder at once.</p>
  </div>
    
  <div class="usa-width-one-third">
    <iframe width="270" height="178.567" src="https://www.youtube.com/embed/R87KEbcwK08" frameborder="0" allowfullscreen></iframe>
    <b>Providing Feedback</b></br> 
    <small>Duration: 1:36</small>
    <p>Learn how to give feedback and seek help directly from the Digital Service support team.</p>
  </div>
 </div>
  
  <% if vva_feature_enabled? %>
   <%= render "faqs_with_vva" %>
  <% else %>
   <%= render "faqs" %>
  <% end %>

</div>

<div class="cf-app-segment">
 <div class="cf-push-left">
  <a href ="#top">Back To Top</a>
 </div>
</div>

