<div class="cf-app-segment cf-app-segment--alt ee-new-download">
  <h1>Unauthorized</h1>

  <p>
    Please talk with your ISO about having the <code>Download eFolder</code>
    CSS Role added to your account.
  </p>
</div>
