<div class="cf-app-msg-screen cf-app-segment cf-app-segment--alt">
  <h1 class="cf-msg-screen-heading">Drat!</h1>
  <h2 class="cf-msg-screen-deck">You aren't authorized to use eFolder Express yet.</h2>
  <p class="cf-msg-screen-text"><%= link_to "Click here", help_path %> to find out how you can request access to eFolder Express.</p>

</div>
