<div class="usa-alert usa-alert-error" role="alert">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Drat!</h3>
    <p class="usa-alert-text">
      You aren't authorized to use eFolder Express yet.
    </p>
    <p>
      <%= link_to "Click here", help_path %> to find out how you can request access to eFolder Express.
    </p>
  </div>
</div>
