<div class="usa-alert usa-alert-error" role="alert">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Download not found</h3>
    <p class="usa-alert-text">
      We couldn't find that download.
    </p>
    <p>
      <%= link_to "Try re-downloading that eFolder", root_path %>
    </p>
  </div>
</div>
