<div class="cf-app-segment cf-app-segment--alt cf-app-msg-screen">
  <h1 class="cf-msg-screen-heading">Uh oh</h1>
  <h2 class="cf-msg-screen-deck">Something went wrong...</h2>
  <p class="cf-msg-screen-text">Please check the Veteran ID # and <%= link_to "search again", root_path %>.</p>

</div>
