<div class="cf-app-msg-screen cf-app-segment cf-app-segment--alt">
  <h1 class="cf-msg-screen-heading">Veteran ID Not Found</h1>
  <h2 class="cf-msg-screen-deck">We weren't able to locate Veteran ID #123456789</h2>
  <p class="cf-msg-screen-text">Please check the Veteran ID # and <%= link_to "search again", root_path %>.</p>

</div>
