<% content_for :page_title do %><% end %>

<div class="cf-app-msg-screen cf-app-segment cf-app-segment--alt">
  <h1 class="cf-msg-screen-heading">We are having technical difficulties...</h1>
  <h2 class="cf-msg-screen-deck ee-msg-status">Caseflow is experiencing a technical error.</h2>
  <h2 class="cf-msg-screen-deck">If the problem persists, you can  <a href="<%= feedback_url %>" target="_blank">Send Feedback</a> or contact Caseflow Support at <a href="mailto:caseflow@va.gov">caseflow@va.gov</a> or 1-844-876-5548.</h2>

</div>