.ee-new-download {
  label {
    color: $color-gray;
    margin-bottom: 1em;
  }
}

.ee-filename-row {
  width: 80%;
}

.ee-right-button {
  float: right;
  margin-right: 0;
}

.ee-search {
  margin-bottom: 45px;
}

.ee-actions-cell {
  text-align: right;
}

.ee-download-status {
  display: inline-block;
  width: 10em;
  text-align: center;
}
