.ee-heading {
  text-align: center;
  margin: auto;
  width: 600px;
}

.ee-new-download {
  label {
    color: $color-gray;
    margin-bottom: 1em;
  }
}

.ee-filename-row {
  min-width: 626px;
}

.ee-doc-id-row {
  white-space: nowrap;
}

.ee-right-button {
  float: right;
  margin-right: 0;
}

.ee-search {
  margin: 0 auto 45px;
  width: 600px;
}

.ee-recent-searches {
  border-top: 1px solid $color-gray-lighter;
  padding-top: 45px;
  margin-bottom: 0;
}

.ee-recent-searches-note {
  margin-top: 5px;
}

.ee-actions-cell {
  text-align: right;
}

.ee-download-status {
  display: inline-block;
  width: 10em;
  text-align: center;
}
