@import 'caseflow_main';
@import 'progress-bar';
@import 'download';

.cf-logo-image {
  @include retina-image("efolder-express-logo", 32px 32px, $asset-pipeline: true);
}

// Candidate for USWDS
.usa-table-no-header {
  @extend .usa-table-borderless;

  thead {
    th {
      background-color: $color-white;
    }
  }

  th:first-child,
  td:first-child {
    padding-left: 0;
  }

  th:last-child,
  td:last-child {
    padding-right: 0;
  }
}

// Candidate for Caseflow Commons
.cf-loading-indicator {
  display: none !important;
}

.cf-is-loading {
  .cf-submit {
    display: none;
  }

  .cf-loading-indicator {
    display: block !important;
  }
}

// USWDS override
table th,
table td {
  border-color: $color-gray-lighter;
}

.cf-stats-section {
  &.-activity,
  &.-searches {
    svg .bar { fill: $color-primary-alt; }
  }

  &.-timing {
    svg .bar { fill: $color-green-light; }
  }

  &.-errors {
    svg .bar { fill: $color-secondary; }
  }
}

.cf-spacer-icon {
  height: 1em;
  width: 1em;
}

.cf-msg-screen-text a {
  text-decoration: none;
}

.ee-fetching-files {
  text-align: center;
  color: $color-gray;
  font-size: 1.1em;
}

.ee-page-loading {
  width: 100%;
  text-align: center;
  color: $color-gray;
}

.ee-page-loading-icon {
  padding-top: 220px;
  position: relative;
  height: 200px;
  width: 200px;
  margin: auto;
}

.ee-icon-progress {
  vertical-align: -.45ex;
  width: 1em;
  height: 1em;

  path {
    fill: $color-secondary-dark;
  }
}

.ee-icon-loading-front {
  @include animation(backwardspin 9s linear infinite);
  position: absolute;
  top: 0;
  left: 0;
}

.ee-icon-loading-back {
  @include animation(spin 9s linear infinite);
  position: absolute;
  top: 0;
  left: 0;
}

.ee-document-list {
  border: 1px solid $color-gray-lighter;
  padding-top: 1px;
  max-height: 600px;
  overflow-y: scroll;
}

.ee-subheading {
  font-weight: normal !important;
  color: $color-gray;
}

.ee-button-list {
  @include unstyled-list;

  li { display: inline-block; }
}

.documents {
  @include unstyled-list;
}

.ee-documents-table {
  margin-top: 0;
}
