@import 'bourbon';
@import 'neat';
@import 'us_web_design_standards';
@import 'fonts';
@import 'caseflow';
@import 'progress-bar';
@import 'spin';
@import 'tabs';
@import 'download';

// USWDS override
table th,
table td {
  border-color: $color-gray-lighter;
}

.cf-spacer-icon {
  height: 1em;
  width: 1em;
}

.ee-fetching-files {
  text-align: center;
  color: $color-gray;
  font-size: 1.1em;
}

.ee-page-loading {
  width: 100%;
  text-align: center;
  color: $color-gray;
}

.ee-page-loading-icon {
  padding-top: 220px;
  position: relative;
  height: 200px;
  width: 200px;
  margin: auto;
}

.ee-icon-progress {
  vertical-align: -.45ex;
  width: 1em;
  height: 1em;

  path {
    fill: $color-secondary-dark;
  }
}

.ee-icon-loading-front {
  @include animation(backwardspin 9s linear infinite);
  position: absolute;
  top: 0;
  left: 0;
}

.ee-icon-loading-back {
  @include animation(spin 9s linear infinite);
  position: absolute;
  top: 0;
  left: 0;
}

.ee-document-list {
  border: 1px solid $color-gray-lighter;
  padding-top: 1px;
  max-height: 600px;
  overflow-y: scroll;
}

.ee-subheading {
  font-weight: normal !important;
  color: $color-gray;
}

.ee-button-list {
  @include unstyled-list;

  li { display: inline-block; }
}

.documents {
  @include unstyled-list;
}

.ee-documents-table {
  margin-top: 0;
}
