@import 'bourbon';
@import 'neat';
@import 'us_web_design_standards';
@import 'fonts';
@import 'caseflow';
@import 'progress-bar';
@import 'spin';
@import 'tabs';
@import 'download';


// Candidate for USWDS
.usa-table-no-header {
  @extend .usa-table-borderless;

  thead {
    th {
      background-color: $color-white;
    }
  }

  th:first-child,
  td:first-child {
    padding-left: 0;
  }

  th:last-child,
  td:last-child {
    padding-right: 0;
  }
}

// Candidate for Caseflow Commons
.cf-loading-indicator {
  display: none !important;
}

.cf-is-loading {
  .cf-submit {
    display: none;
  }

  .cf-loading-indicator {
    display: block !important;
  }
}

// USWDS override
table th,
table td {
  border-color: $color-gray-lighter;
}

.ee-stats {
  margin-top: 20px;
}

.ee-stats-section {
  @include outer-container;
  margin-bottom: 1em;
}

.ee-stats-table {
  margin-top: 0;
}

.ee-stat-panel {
  @include span-columns(4);
  position: relative;
  border: 1px solid $color-gray-lighter;
  padding: 1em;
  padding-bottom: 6em;
  overflow: hidden;

  &.-toggle .ee-stat-option {
    display: none;
    &.active { display: block; }
  }
}

.ee-stat-title {
  color: $color-gray;
}

.ee-stat-figure {
  font-size: 6rem;
  font-weight: bold;
  color: $color-gray;
  line-height: .9;
}

.-activity,
.-searches {
  // .ee-stat-figure { color: $color-primary-alt; }
  svg .bar { fill: $color-primary-alt; }
}

.-timing {
  // .ee-stat-figure { color: $color-green-light; }
  svg .bar { fill: $color-green-light; }
}

.-errors {
  // .ee-stat-figure { color: $color-secondary; }
  svg .bar { fill: $color-secondary; }
}

.ee-stat-unit {
  font-size: 1.6rem;
  font-weight: normal;
  color: $color-gray;
  margin-left: -0.5em;
}

.data-chart svg {
  position: absolute;
  bottom: 0;
  left: 0;
}

.cf-spacer-icon {
  height: 1em;
  width: 1em;
}

.ee-fetching-files {
  text-align: center;
  color: $color-gray;
  font-size: 1.1em;
}

.ee-page-loading {
  width: 100%;
  text-align: center;
  color: $color-gray;
}

.ee-page-loading-icon {
  padding-top: 220px;
  position: relative;
  height: 200px;
  width: 200px;
  margin: auto;
}

.ee-icon-progress {
  vertical-align: -.45ex;
  width: 1em;
  height: 1em;

  path {
    fill: $color-secondary-dark;
  }
}

.ee-icon-loading-front {
  @include animation(backwardspin 9s linear infinite);
  position: absolute;
  top: 0;
  left: 0;
}

.ee-icon-loading-back {
  @include animation(spin 9s linear infinite);
  position: absolute;
  top: 0;
  left: 0;
}

.ee-document-list {
  border: 1px solid $color-gray-lighter;
  padding-top: 1px;
  max-height: 600px;
  overflow-y: scroll;
}

.ee-subheading {
  font-weight: normal !important;
  color: $color-gray;
}

.ee-button-list {
  @include unstyled-list;

  li { display: inline-block; }
}

.documents {
  @include unstyled-list;
}

.ee-documents-table {
  margin-top: 0;
}
