$progress-bar-shadow: rgba(0, 0, 0, 0.25);
$progress-bar-thickness: 2.5em;

.progress-bar {
  background-color: $color-gray-lightest;
  box-shadow: 0 1px 2px $progress-bar-shadow inset;

  width: 100%;
  height: $progress-bar-thickness;

  position: relative;
  display: block;

  > span {
    background: repeating-linear-gradient(
      45deg,
      darken($color-green, 12),
      darken($color-green, 12) 2px,
      $color-green 2px,
      $color-green 20px
    );

    height: $progress-bar-thickness;

    display: block;
    text-indent: -9999px;
  }
}
