.cf-stats {
  margin-top: 20px;
}

.cf-stats-section {
  @include outer-container;
  margin-bottom: 1em;
}

.cf-stats-table {
  margin-top: 0;
}

.cf-stat-panel {
  @include span-columns(4);
  position: relative;
  border: 1px solid $color-gray-lighter;
  padding: 1em;
  padding-bottom: 6em;
  overflow: hidden;

  &.-toggle .cf-stat-option {
    display: none;
    &.active { display: block; }
  }
}

.cf-stat-title {
  color: $color-gray;
  font-weight: 400;
  margin: 0;
}

.cf-stat-figure {
  font-size: 6rem;
  font-weight: bold;
  color: $color-gray;
  line-height: .9;
}

.-activity,
.-searches {
  svg .bar { fill: $color-primary-alt; }
}

.-timing {
  svg .bar { fill: $color-green-light; }
}

.-errors {
  svg .bar { fill: $color-secondary; }
}

.cf-stat-unit {
  font-size: 1.6rem;
  font-weight: normal;
  color: $color-gray;
  margin-left: -0.5em;
}

.data-chart svg {
  position: absolute;
  bottom: 0;
  left: 0;
}
