.cf-tab-navigation {
  @include unstyled-list;

  margin-top: 2em;
  position: relative;
  width: 100%;
  border-bottom: 1px solid $color-primary;

  li {
    display: inline-block;
    margin-right: -1px;
  }
}

.cf-tab {
  @extend .usa-button-unstyled;

  display: inline-block;
  margin: 0 -3.5px 0 0;
  padding: 15px 1.5em;
  color: $color-gray;
  background-color: $color-white;
  border: 1px solid $color-gray-light;
  border-bottom: 0;
  border-left-width: 0;
  font-weight: normal;
  white-space: nowrap;

  &::before { content: ''; }
  &::after { margin: 0; }
  &:first-child { border-left-width: 1px; }

  &:hover {
    color: $color-gray-dark;
    background-color: $color-white;
    text-decoration: none;
  }

  &:disabled:hover {
    color: $color-gray;
  }

  &:focus {
    outline: -webkit-focus-ring-color auto 5px;

    svg path {
      fill: $color-primary;
    }
  }

  &.cf-active {
    position: relative;
    color: $color-primary;
    border-color: $color-primary;
    border-top-width: 4px;
    border-left-width: 1px;
    padding-top: 13px;
    right: 1px;
    top: 1px;
    margin-right: -4.5px;

    svg path { fill: $color-primary; }
  }

  svg {
    margin-right: 0.25em;
    margin-left: -0.4em;
    path { fill: $color-gray; }
  }
}

.cf-tab-content {
  border: 1px solid $color-gray-lighter;
  border-top: 0;
  padding-top: 1px;
  max-height: 600px;
  overflow-y: scroll;
}

